/*-------------------------
| SELETORES POR ELEMENTO  |
--------------------------*/
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #cc0000;
    color: white;
    padding: 20px 10px;
    text-align: center;
}

main {
    padding: 20px;
}

.topic {
    background: #ff7474;
    margin: 20px 0;
    padding: 15px;
    border: 4px solid #ff0000;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.topic h2 {
    color: #000000;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #cc0000;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
