body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif ;
    padding: 0;
}
h1{
    color: white;
    margin-bottom: 20px;
}


.calculator{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    width: 300px;
}


#display{
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    text-align: right;
    border-radius: 6px;
    border:none;
    background-color: #ffffff;
    font-size: 24px;
    margin-bottom: 16px;
}
.box-bottons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}
button{
    border:none;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
}
button:hover{
    background-color: #757575;
    cursor: pointer;
    transition: .4s;
}
.btn-zero{
    grid-column: 1 / 3;


}
.btn-result{
    grid-row: 4 / 6;
    height: 100%;
    grid-column: 4 /5


}


