.formulario {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #5a5a5a;
    border-radius: 5px;
    background-color: #9b9b9b;
    text-align: center;
}
.h1{
    color: #1f1f1f;
    text-align:center
}

